# Environment switch:
# local | production
APP_ENV=local

# ---------- Production ----------
# Used when APP_ENV=production
GITHUB_TOKEN_PROD=
GITHUB_REPO_OWNER_PROD=million-dollar-projects
GITHUB_REPO_NAME_PROD=default0_web

# ---------- Local ----------
# Used when APP_ENV=local
GITHUB_TOKEN_DEV=
GITHUB_REPO_OWNER_DEV=million-dollar-projects
GITHUB_REPO_NAME_DEV=default0_web

# ---------- Fallback (optional) ----------
# If *_PROD / *_DEV are not set, these will be used
GITHUB_TOKEN=
GITHUB_REPO_OWNER=million-dollar-projects
GITHUB_REPO_NAME=default0_web
